ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

tr {
  transition: 0.25s;
}

td {
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-color: #2D4654;
  border-bottom-width: 2px;
}

.tablePlaceholder {

}

.questionTable {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 40px;
  border-collapse: collapse;
  border: 2px solid #2D4654;
  border-radius: 5px;
}

.questionCell {
  padding: 2px;
}

/*
  TABLE HEADER
*/
.question {
  width: 68%;
}


.answerNum, .points{
  width: 12%;
}
.check {
  width: 8%;
}

/*  FIRST CELL  */
/*   Question   */
.questionTitle {
}
.description {
  padding-top: 0px;
}
/*  Responses  */
.answer {
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #2D4654;
}
.answer ul {
  margin-left: 20px;
  margin-right: 20px;
  border-style: hidden;
  border-radius: 10px;
  background-color: #d9d9d9;
}
/*  VOTE   */
.arrows {
  margin-left: 22px;
  width: 40px;
  height: auto;
  overflow: hidden;
}

.voteNum{
	text-align: left;
	overflow: hidden;
}

.voteNum {
  margin-left: 32px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #2D4654;
}
/*  CHECK  */
.checkImage {
  margin: auto;
  margin-top: 15px;
  width: 60px;
  height: auto;
  display: block;
}
.check li a{
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #2D4654;
}
.check li {
  margin-top: 10px;
}

/*
  ANIMATIONS
*/

tr:hover {
  background-color: #f2f2f2;
}
